<p>Beste Scouts medewerker,</p>
<p>Er werd een werkwinkel ingestuurd voor publicatie in de werkwinkeldatabank. Hieronder vind je de link om hem goed te keuren.</p>

<ul>
    <li>Titel: {{ workshop.title }}</li>
    <li>
        <span>Thema(s):</span>
        {% for theme in workshop.themes.all %}
            <span style="margin-right: 1em;">{{ theme.title }}</span>
        {% endfor %}
    </li>
</ul>

<!-- <p>ingezonden door: {{ workshop.title }}</p> -->
<!-- <a href="http://localhost:8040/#/werkwinkels/{{workshop.id}}/edit">http://localhost:8040/#/werkwinkels/{{workshop.id}}/edit</a> -->

<p>Bedankt!</p>

<p>Deze mail werd verzonden door de werkwinkeldatabank van Scouts en Gidsen Vlaanderen vzw.</p>
